.matform-Container{
  padding-left: 100px;
}

.font-600{
  font-weight: 600 !important;
}

.text-color {
  color: #135fac;
}

.sub-section-3{
  width:100%;
}

/// Classess

// .mar-tp-header {
//   margin-top: 3%;

// }
.padding-class{
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-join {
border: 1px solid #0f5597 !important;color: #0f5597;background-color: #fafafa;
}
.sub-section-2{
  width:40%;
}
