<!-- <div fxFlex="30" class="sub-section-2" style="margin-top: 5%;"> -->
<div fxLayout="row">
    <h2 class="account-modules color-NavyBlue "></h2>
</div>

<div fxLayout="row">
    <h2 class="account-modules color-NavyBlue "></h2>
</div>
<div fxLayout="row">
    <h2 class="account-modules  text-color">{{static_data.Switch_Committee.current_selection}}</h2>
</div>

<div fxLayout="row" class="mar-tp-header">
    <label fxFlex="50" class=" text-color ">{{static_data.Switch_Committee.Committee_name}}</label> <span
        style="color: #a6a2a2;text-align: right;" fxFlex="50">{{committeeInformation.name}}</span>
</div>
<hr style="height: 2px;background-color: #002d56;">

<div fxLayout="row" class="mar-tp-header">
    <label fxFlex="50" class=" text-color ">{{static_data.Switch_Committee.Committee_id}}</label> <span
        style="color: #a6a2a2;text-align: right;" fxFlex="50">{{committeeInformation.id}}</span>
</div>
<hr style="height: 2px;background-color: #002d56;">
<div fxLayout="row" class="mar-tp-header">
    <label fxFlex="50" class=" text-color ">{{static_data.Switch_Committee.Committee_type}}</label> <span
        style="color: #a6a2a2;text-align: right;" fxFlex="50">{{committeeInformation.type}}</span>
</div>
<hr style="height: 2px;background-color: #002d56;">
<div fxLayout="row" class="mar-tp-header">
    <label fxFlex="50" class=" text-color ">{{static_data.Switch_Committee.Candidate_name}} </label> <span
        style="color: #a6a2a2;text-align: right;" fxFlex="50">{{committeeInformation.candidateName}}</span>
</div>
<hr style="height: 2px;background-color: #002d56;">
<div fxLayout="row" class="mar-tp-header">
    <label fxFlex="50" class=" text-color ">{{static_data.Switch_Committee.treasurer_name}}</label> <span
        style="color: #a6a2a2;text-align: right;" fxFlex="50">{{committeeInformation.treasurerName}}</span>
</div>
<hr style="height: 2px;background-color: #002d56;">
<div fxLayout="row" class="mar-tp-header">
    <label fxFlex="50" class=" text-color ">{{static_data.Switch_Committee.election_date}}</label> <span
        style="color: #a6a2a2;text-align: right;" fxFlex="50">{{committeeInformation.electionDate |
        date:masterDate.dateFormat}}</span>
</div>
<hr style="height: 2px;background-color: #002d56;">

<div fxLayout="row" class="mar-tp-header">
    <label fxFlex="50" class=" text-color ">{{static_data.Switch_Committee.public_fund}} </label> <span
        style="color: #a6a2a2;text-align: right;" fxFlex="50">{{committeeInformation.publicFundingStatus}}</span>
</div>
<hr style="height: 2px;background-color: #002d56;">

<!-- </div> -->